$grass: #78c850;
$poison: #a040a0;
$fire: #f08030;
$water: #6890f0;
$bug: #a8b820;
$flying: #a890f0;
$ground: #e0c068;
$electric: #f8d030;
$fairy: #ee99ac;
$fighting: #c03028;
$rock: #b8a038;
$ghost: #705898;
$steel: #b8b8d0;
$psychic: #f85888;
$ice: #98d8d8;
$dragon: #7038f8;
$dark: #705848;
$normal: #a8a77a;
