@import "./partials/breakpoints.scss";
@import "./partials/body";
@import "./partials/search";
@import "./partials/colors";

@import "./partials/pokemonPage";
@import "./partials/pokemonPageType";

html,
body {
	margin: 0;
	background-image: url("../../assests/images/silas-baisch-K785Da4A_JA-unsplash.jpg");
	padding: 0 3%;
}

.grass {
	background-color: $grass;
}
.fire {
	background-color: $fire;
}
.flying {
	background-color: $flying;
}
.water {
	background-color: $water;
}
.bug {
	background-color: $bug;
}
.poison {
	background-color: $poison;
}
.poke-type {
	border: 1px solid black;
}
.ground {
	background-color: $ground;
}
.dark {
	background-color: $dark;
}
.psychic {
	background-color: $psychic;
}
.fighting {
	background-color: $fighting;
}
.normal {
	background-color: $normal;
}
.rock {
	background-color: $rock;
}
.steel {
	background-color: $steel;
}
.electric {
	background-color: $electric;
}
.fairy {
	background-color: $fairy;
}
.ice {
	background-color: $ice;
}
.ghost {
	background-color: $ghost;
}
.dragon {
	background-color: $dragon;
}
