@import "./partials/body";
@import "./partials/search";

html,
body {
  margin: 0;
  padding: 0;
  background-image: url("../../assests/images/silas-baisch-K785Da4A_JA-unsplash.jpg");
  padding: 0 3%;
}
